﻿<script src="Scripts/taffy-min.js"></script>
Analysis for: <select id="analyzeUser" onchange="javascript:DoAnalysis()" onblur="javascript:DoAnalysis()">
    
    
    
    </select>
    
     <button class="btn btn-primary" onclick="javascript:DoAnalysis();"><span class="glyphicon glyphicon-search">Go</span></button>
<div id="analysisArea"></div>


<script type="text/javascript">

//In a client server environment, this JSON could be provided by an ajax $(Post)
/* This is the default template for TAFFY, but I'm hardcoding for the sake of time.
var resultSet = [
	{"id":1,"gender":"M","first":"John","last":"Smith","city":"Seattle, WA","status":"Active"},
	{"id":2,"gender":"F","first":"Kelly","last":"Ruth","city":"Dallas, TX","status":"Active"},
	{"id":3,"gender":"M","first":"Jeff","last":"Stevenson","city":"Washington, D.C.","status":"Active"},
	{"id":4,"gender":"F","first":"Jennifer","last":"Gill","city":"Seattle, WA","status":"Active"}	
];

var friends = TAFFY(resultSet);
*/

//iterate through a result set to determine users.
    selectValues = { "1": "John", "2": "Kelly","3":"Jeff","4":"Jennifer"};
     $.each(selectValues, function(key, value) {   
     $('#analyzeUser')
         .append($("<option></option>")
                    .attr("value",key)
                    .text(value)); 
});
function DoAnalysis(){
    var analyzedUser = $('#analyzeUser').val();
    var resultText ="Analysis Result for "+analyzedUser+". ";
    //TODO: Get the number of hours greater than 80 in a 4 week period
    resultText += "<br/>0 conflicts where hours are greater than 80 in a 4 week period. ";
    //TODO: Residents must have a 24 hour day off each week during the four week period
    resultText += '<br/><div class="label label-warning" onclick="javascript:ShowCalendar()">Conflict in week 2 with no 24hour day off.</div>';
    //TODO:	A resident’s individual shift must not exceed 24 hours of continuous duty
    resultText += "<br/>0 conflicts where more than 24hours worked of continuous duty. ";
    //TODO: 	A resident must have a minimum of 8 hours off between shifts.
    resultText += "<br/>0 conflicts with less than 8 hours off between shifts. ";
    $('#analysisArea').html(resultText);
}

function ShowCalendar(){
    
    var resultText = "Week1 Monday Start 8am work 12 hours.<br/>";
    resultText+= "Week1 Tuesday Start 9am work 10 hours.<br/>";
    resultText+= "Week1 Wednesday Start 9am work 10 hours.<br/>";
    resultText+= "Week1 Thursday Start 8:30am work 10 hours.<br/>";
    resultText+= "Week1 Friday Start 9am work 14 hours.<br/>";
    resultText+= "Week2 Sunday Start 9am work 6 hours.<br/>";
    resultText+= "Week2 Monday Start 9am work 10 hours.<br/>";
    resultText+= "Week2 Tuesday Start 5am work 4 hours.<br/>";
    resultText+= "Week2 Wednesday Start 9am work 10 hours.<br/>";
    resultText+= "Week2 Thursday Start 9am work 13 hours.<br/>";
    resultText+= "Week2 Friday Start 7:30am work 10 hours.<br/>";
    resultText+= "Week2 Saturday Start 9am work 7 hours.<br/>";
    resultText+= "Week3 Sunday Start 9am work 10 hours.<br/>";
    resultText+= "Week3 Wednesday Start 9am work 19 hours.<br/>";
    resultText+= "Week3 Friday Start 9am work 18 hours.<br/>";
    resultText+= "Week3 Saturday Start 7pm work 4 hours.<br/>";
    resultText+= "Week4 Tuesday Start 9am work 11 hours.<br/>";
    resultText+= "Week4 Wednesday Start 9am work 12 hours.<br/>";
    resultText+= "Week4 Saturday Start 5pm work 4 hours.<br/>";
    $('#analysisArea').html(resultText);
}
</script>